<h2>Rename Your Collection</h2>
<%= render 'form' %>

<h2>Add to Your Collection</h2>

<form action="/" method='post'>
  <%= token_tag %>
  <input type='hidden' name='_method' value='put'>
  <input type="text" name='keyword' placeholeder='artist name'>
  <input type="submit">
</form>
