<h1>FIND ARTWORK</h1>
  <form action="/results" method='get'>
    <%= token_tag %>
    <div class='offset-by-three'>
    <input type="text" name='artwork[keyword]'>
    <input type="submit" value="SEARCH">
    </div>
  </form>
