<% if @curator.errors.any? %>
  <div class="errors">
    <p class="error-count">
      The form has <%= pluralize(@user.errors.count, "error") %>.
    </p>
    <ul class= "error-list">
      <% @curator.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
