<h1>CURATORS</h1>

<div class='offset-by-three'>
  <ul>
    <% @curators.each do |curator| %>
    <li>
      <a href='/curators/<%= curator.id %>'><%= curator.username %></a>
      <br>
      <form action="/curators/<%= curator.id %>" method='post'>
        <%= token_tag %>
        <input type="hidden" name='_method' value='delete'>
        <button type='submit'>DELETE CURATOR</button>
      </form>
    </li>
    <% end %>
  </ul>
</div>
