<h2>Welcome, <% @curator.username %></h2>

<h3><a href="new_collection_path">Start Your Collection</a></h3>
<br>
<form action="/curators/<%= @curator.id %>/edit" method='put'>
  <%= token_tag %>
  <button type='submit'>Rename Curator</button>
</form>
<br>
<form action="/curators/<%= @curator.id %>" method='post'>
  <%= token_tag %>
  <input type="hidden" name='_method' value='delete'>
  <button type='submit'>Delete Curator</button>
</form>
