<div class='offset-by-three'>
  <p>Hi, <%= @curator.username %></p>
  <%= link_to "Start A New Collection", new_curator_collection_path(@curator, @collection) %>
  <br>
  <%= link_to "View Collections", curator_collections_path(@curator) %>
  <br>
  <%= link_to "Log-Out", log_out_path, method: :delete %>
</div>
